<div ng-repeat="section in sections" class="{{ section.slug }} section content-block"  id="{{ section.id }}" ng-switch="section.id">
	<div ng-switch-when="countdown" class="container-fluid" >
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="description" ng-bind-html="section.content">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="vote" class="container-fluid" >
		<h3>{{section.title}}</h3>
		<div class="row">
			<div class="col-lg-6 col-md-6 widget-tc">
				<div class="description" ng-bind-html="section.content.widget.content">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 side-content-vote">
				<div class="description" ng-bind-html="section.content.side_content.content">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="about" class="container-fluid" >
		<div class="row">
			<div class="col-lg-8 col-md-8 about_iema">
				<h3>{{section.content.about_iema.title}}</h3>
				<div class="description" ng-bind-html="section.content.about_iema.content">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 contact_us">
				<h3>{{section.content.contact_us.title}}</h3>
				<div class="description" ng-bind-html="section.content.contact_us.content">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="regulations" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="section.content"></div>
			</div>
		</div>
	</div>
	<div ng-switch-when="special-award" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="section.content"></div>
			</div>
		</div>
	</div>
	<div ng-switch-when="experts" class="container-fluid">
		<h3>{{section.title}}</h3>
		<div class="row">
			<figure ng-repeat="expert in section.content.experts" class="col-md-4 expert-item">
				<img ng-src="{{expert.image}}" alt="">
				<figcaption>
					<h4>{{expert.name}}</h4>
					<span class="expert-title">{{ expert.title }}</span>
					<p>{{ expert.description}}</p>
				</figcaption>
			</figure>
		</div>
	</div>
	<div ng-switch-when="partners" class="container-fluid">
		<h3>{{section.title}}</h3>
		<div class="row">
			<figure ng-repeat="partner in section.content.partners" class="col-md-4 partner-item">
				<a href="{{ partner.link}}" target="_blank">
					<img ng-src="{{partner.image}}" alt="">
				</a>
				<figcaption>
					<h4>{{partner.name}}</h4>
					<span class="partner-title">{{ partner.title }}</span>
					<span class="description" ng-bind-html="partner.description"></span>
				</figcaption>
			</figure>
		</div>
	</div>
	<div ng-switch-when="merchants" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="section.content"></div>
			</div>
		</div>
	</div>
</div> 